*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
body{
    font-family: sans-serif;
    background-color: #999691;
}

header,footer{
    background-color:rgb(99, 90, 90) ;
    font-size: 2rem;
    text-align: center;
    color:#d3dfe9;
    padding:50px;
}
footer img,header img{
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(146, 139, 139);
    padding:10px
}
header h1,footer h1{
    font-family: 'Times New Roman', Times, serif;
}

.container{
  
    margin-top: 100px;
   
    display: grid;
   
    


     margin: 50px;
     color:white;
    
}
.container-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
    
    
}

.movie-card {
    width: 200px;
    text-align: center;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.btn-container {
    text-align: center;
    margin-top: 20px;
    
}

.btn-seemore ,.btn-newmovie{
    margin-top:30px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.movie-description{
    text-align: justify;
    font-weight: 800;
    margin-bottom: 20px;
    color:#f3e9e9;
}

.search-movie{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.search-input{
    padding: 0 10px;
    outline: none;
    height: 40px;
    width: 300px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
}
.search-btn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
    border: none;
    height: 40px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    border-left: 2px solid #8b8585;
}
.movie-container{
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-details{
    padding: 40px;
 background-color: #887c7c;
 border-radius: 10px;
}


.movie-title{
    margin: 20px 0;
    color: #520c0c;
}

.new-movies{
    margin: 0 auto;
   background: url("/img/affiche_cine.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    width: 80%;
   border-top-left-radius: 300px;
   border-bottom-right-radius: 300px;
    
}
.new-movies h2{
    font-family:'Times New Roman', Times, sans-serif;
    font-size: 5rem;
}
hr{
    width: 10%;
    height: 2px;
    background-color: #ebdbdb;
    border: none;
    margin :0 auto;
    margin-top:20px;
}
